<p id="notice"><%= notice %></p>

<h1>Nakladatelstvi</h1>

<table>
  <thead>
    <tr>
      <th>Nazev</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nakladatelstvi.each do |nakladatelstvi| %>
      <tr>
        <td><%= nakladatelstvi.nazev %></td>
        <td><%= link_to 'Show', nakladatelstvi %></td>
        <td><%= link_to 'Edit', edit_nakladatelstvi_path(nakladatelstvi) %></td>
        <td><%= link_to 'Destroy', nakladatelstvi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nakladatelstvi', new_nakladatelstvi_path %>

<p><%= link_to 'Hlavní', main_index_path %></p>
<p><%= link_to 'Knihovna', knihy_path %></p>
