<%= form_with(model: zanr, local: true) do |form| %>
  <% if zanr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zanr.errors.count, "error") %> prohibited this zanr from being saved:</h2>

      <ul>
      <% zanr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nazev %>
    <%= form.text_field :nazev, id: :zanr_nazev %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
